



@media (min-width: 414px) {  

    .container {
        padding: 18px 52px 18px 52px;
    }

    .bg {
        background-image: url(./Asset/Background.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .cardhome {
        width: 145px;
        height: 118px;
        margin-top: 20px;
    }

    .cardshop {
        width: 120px;
        height: 164px;
        margin-top: 15px;
        padding: 6px 4px 6px 4px;
    }

    .mybutton {
        width: 24px;
        height: 24px;
        background: #FFFFFF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
    }

    .cardimg {
        position: absolute;
        left: 12.91%;
        right: 12.92%;
        top: 4.27%;
        bottom: 50.01%;
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 5px;
       
    }

    .glasscard, .descbox , .delbox{
        background: rgba(255, 255, 255, 0.45);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(4px);
        border-radius: 10px;
    }

    h5 {
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #215276;
    }

    h6 {
        font-size: 8px;
        line-height: 9px;
        color: #215276;
    }

    .catlabel1,.catlabel2, .rupeelabel {
        left: 12.5%;
        right: 7.5%;
        background: #215276;
        padding-top: 2%;
        padding-left: 5%;
        border-radius: 10px;
        position: absolute;
    }
    /*Category Label orange*/
    .catlabel1 {
        background-color: #FFB164;
        position:relative;
        height:15px;
        width:65px;
    }

    .catlabel2 {
        background-color: #F5D4D4;
        position: relative;
        height: 15px;
        width: 65px;
    }

    .linkstyle {
        color: black;
    }

        .linkstyle:hover {
            color: pink;
            transition: all 0.75s 0.25s;         
        }
    .descimage {      
        border-radius: 10px;
        
    }
    .descbox {
        position: absolute;
        left: 51%;
        right: 7.25%;
        top: 16%;
        background: rgba(208, 255, 127, 0.5);
        border: 1px solid rgba(208, 255, 127, 0.5);
    }
    .delbox {
        position: absolute;    
        top: 55.98%;
        bottom: 20.38%;
        background: rgba(255, 177, 100, 0.5); 
        border:none;
    }
     
}
