



@media (min-width: 414px) {
    .container
{
    padding: 18px 52px 18px 52px;
    
}
    .bg {
        background-image: url(./Asset/Background.png);
        margin-top:23px;
        padding:0px 30px 105px 30px;
    }
   .cardhome{
       width:145px;
       height:118px;
       margin-top:20px;
   }
}
